// scss for class social_item_div in navigation.scss
.modal_div {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    max-width: 850px;
    max-height: 95%; //activates the overflow: auto;
    background-color: rgb(233, 233, 233);
    color: black;
    outline: white;
    padding: 10px 20px 20px;
    border-radius: 5px;
    overflow: auto;

    .modal_close_button {
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
        top: 10px;
        width: 10px;
        height: 10px;
        padding: 0 10px 0 15px;
        color: var(--main-color);
        font-size: 17px;
        font-weight: bold;
    }

    .project_img_div {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        height: 300px;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        border-radius: 4px;

        .project_img {
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            padding: 0 5px;
        }

        &::-webkit-scrollbar {
            height: 3px;
        }

        &::-webkit-scrollbar-track {
            background: rgba(159, 157, 157, 0.3);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--main-color);
            border-radius: 10px;
        }

    }

    .modal_technologies {
        color: var(--main-color);
        font-weight: bold;
        margin: 0;
    }

    .details_link {
        font-size: medium;
        text-decoration: none;
        color: black;
        background-color: var(--main-color);
        display: inline-block;
        padding: 5px 10px;
        border-radius: 4px;
        margin-top: 10px;
        opacity: 1;
        transition: opacity .5s ease;

        &:hover {
            opacity: 0.5;
        }
    }
}

@media all and (max-width: 1050px) {
    .modal_div {
        width: 90vw;
    }
}

@media all and (max-width:850px) {
    .modal_div .project_img_div {
        justify-content: flex-start; // otherwise imgs cut of right and left
    }

}

@media all and (max-width:650px) {
    .modal_div {
        width: 95vw;
        padding: 0 10px 15px;
    }
}