.work_grid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 30px 20% 15px 20%;
    grid-gap: 10px 20px;
 
    .work_grid_item {
        margin: 0 0 10px 0;
        cursor: pointer;
 
        .work_img_div {
            position: relative;
            width: 30vw;
            height: 200px;
            overflow: hidden;
            border-radius: 4px;
 
            .work_img {
                // centers the img in the div / if needed adjust width
                max-width: 100%;
                object-fit: cover;
                transition: transform .7s ease;
            }
 
            .portfolio-overlay {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: linear-gradient(120deg, var(--main-color), rgba(185, 238, 245, 0.2));
                opacity: 0;
                transition: all .5s ease;
 
                .overlay_plus {
                    color: rgba(231, 231, 231, 0.95);
                    font-size: 50px;
                    position: relative;
                    bottom: -20%;
                    left: 0%;
                }
            }
        }
 
        p {
            margin: 5px 0;
            transition: color 0.5s ease;
            padding: 5px 0;
        }
 
        // effect will apply when hover over work_grid_item
        &:hover {
            .work_img_div {
                .work_img {
                    transform: scale(1.05);
                }
 
                .portfolio-overlay {
                    opacity: 0.8;
                }
            }
 
            p {
                color: var(--main-color);
            }
        }
    }
}
 
.scrollable_images_container {
    display: flex;
    overflow: auto;
    gap: 10px;
    /* Space between images */
    max-width: 100%;
}
 
@media all and (max-width: 1050px) {
    .work_grid {
        margin: 40px 15% auto 15%;
 
        .work_grid_item .work_img_div {
            width: 40vw;
        }
    }
}
 
@media all and (max-width:650px) {
 
    .work_grid {
        grid-template-columns: 1fr;
 
        .work_grid_item .work_img_div {
            width: 70vw;
        }
    }
}